rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /tournaments/{doc} {
      allow read: if true;
      allow create: if !exists(/databases/$(database)/documents/tournaments/$(doc));
      allow update, delete: if request.auth != null;
    }
    match /teams/{teamId} {
      allow read: if true;
      allow create: if !exists(/databases/$(database)/documents/teams/$(teamId));
      allow delete: if request.auth != null;
      allow update: if request.auth != null
  || request.resource.data.diff(resource.data).affectedKeys().hasOnly(['pendingLogoBase64', 'pendingLogoStatus']);
		}
    match /liveScores/{matchId} {
      allow read: if true;
      allow create, update: if true;
      allow delete: if request.auth != null;
    }
    match /gallery/{photoId} {
      allow read: if true;
      allow create: if request.resource.data.status == 'pending' && (
                      (request.resource.data.type == 'photo'
                        && request.resource.data.photoBase64 is string
                        && request.resource.data.photoBase64.size() < 900000)
                      || (request.resource.data.type == 'video'
                        && request.resource.data.videoUrl is string)
                    );
      allow update, delete: if request.auth != null;
    }
  }
}
